*~
*.symvers
*.order
*.mod.c
*.cmd
*.mod
*.ko
*.o
linux_usr/mem_reserve
linux_usr/pisces_load
linux_usr/pisces_launch
linux_usr/pisces_ioctl
linux_usr/pisces_ctrl
linux_usr/pisces_cons
linux_usr/pisces_mgr
tags
